
.slideImg{
    height: 520px;
}

.home-anima {
    color: white;
    animation-name: springy-text;
    animation-duration: 9s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  @keyframes springy-text {
    0%   {
      letter-spacing: 0.8em;
      color: gold;
    }
   
    100%   {
      letter-spacing: 0.1em;
      color:white;
    }
  }